{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Home Section -->

<section class="blog" id="faq">
    <h2 class="section-title">FAQs</h2>
    <div class="cd-faq js-cd-faq">

        <ul class="cd-faq__categories">
            <li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a></li>
            <li><a class="cd-faq__category truncate" href="#account">Account</a></li>
        </ul> <!-- cd-faq__categories -->

        <div class="cd-faq__items">
            <ul id="basics" class="cd-faq__group">
                <li class="cd-faq__title">
                    <h2>Basics</h2>
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>Is opening an account free??</span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Yes, we don't take any fees for opening an account</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>


                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>
                            Is it possible to send money from Standard Vault Remit Bank to another bank?
                        </span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Yes, you can send money from Standard Vault Remit Bank to another bank?.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>





                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0">
                        <span>
                            Does Standard Vault Remit Bank share our information for advertisement?
                        </span>
                    </a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>No, we don't provide our account holder's information to any third-party organization..
                            </p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>





                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0">
                        <span>

                            How to take a loan?

                        </span>
                    </a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>We have several FDR plans. Choose the best plan suitable for you and just click on the
                                Apply Now button and put the amount.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>




            </ul> <!-- cd-faq__group -->


            <ul id="account" class="cd-faq__group">
                <li class="cd-faq__title">
                    <h2>Account</h2>
                </li>

                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0"><span>
                            How to open an account?
                        </span></a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>Get the registration form by clicking on the Sing Up button on the top bar. Provide all
                                information and click on the Sign Up button.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>


                <li class="cd-faq__item">
                    <a class="cd-faq__trigger" href="#0">
                        <span>
                            How to open an FDR?
                        </span>
                    </a>
                    <div class="cd-faq__content">
                        <div class="text-component">
                            <p>We have several FDR plans. Choose the best plan suitable for you and just click on the
                                Apply Now button and put the amount.</p>
                        </div>
                    </div> <!-- cd-faq__content -->
                </li>


            </ul> <!-- cd-faq__group -->



        </div> <!-- cd-faq__items -->

        <a href="#0" class="cd-faq__close-panel text-replace">Close</a>

        <div class="cd-faq__overlay" aria-hidden="true">

        </div>

    </div><!-- cd-faq -->

</section> <!-- cd-faq -->


{% endblock content %}